@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
  
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    background-color: black;
    font-size: 1em;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 150px;
    
    
  
    
}

.header > img {
   width: 100%;
   height: 100%;
    
}

a{
    color: black;

}

ul{
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;


}

h2{
    text-align: left;
    font-size: 1vw;
    color: white;
    background-color: black;
}

nav > a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;

}

nav > a:hover {
    text-decoration: line-through;
}

/* Index Page Collections */
.indexTitle {
    position: absolute;
    color: white;
    font-size: 5em;
    top: 3.5%;
    left: 38%;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    
    
}


ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.li{
    text-align: center;
    border: solid;
    border-color: white;
    width: max-content;
    padding: 7em;
    background-color: black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.li:hover{
    background-color: rgb(219, 214, 199);
}

.a{
    text-decoration: none;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
.a:hover{
    color: black;
}


.delete{
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
}


/* NEW PPOST PAGE */
.newCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10%;
    width: 2em;
  }

  .newBox{
    display: flex;
    justify-content: center;
  }

  .newInput{
    height: 50px;
  }